<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminToolsServlet</servlet-name>
        <servlet-class>Servlet.AdminToolsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainPageServlet</servlet-name>
        <servlet-class>Servlet.MainPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NieuwMeldingServlet</servlet-name>
        <servlet-class>Servlet.NieuwMeldingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OptiesServlet</servlet-name>
        <servlet-class>Servlet.OptiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GesprekDetailServlet</servlet-name>
        <servlet-class>Servlet.GesprekDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NieuwGesprekServlet</servlet-name>
        <servlet-class>Servlet.NieuwGesprekServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificatieDetailServlet</servlet-name>
        <servlet-class>Servlet.NotificatieDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>Servlet.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersToev</servlet-name>
        <servlet-class>Servlet.PersToev</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncToev</servlet-name>
        <servlet-class>Servlet.FuncToev</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rechten</servlet-name>
        <servlet-class>Servlet.Rechten</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchoolToev</servlet-name>
        <servlet-class>Servlet.SchoolToev</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchoolVerw</servlet-name>
        <servlet-class>Servlet.SchoolVerw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>Servlet.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncVerw</servlet-name>
        <servlet-class>Servlet.FuncVerw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeldingToevoegen</servlet-name>
        <servlet-class>Servlet.MeldingToevoegen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GesprekDetail</servlet-name>
        <servlet-class>Servlet.GesprekDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminToolsServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPageServlet</servlet-name>
        <url-pattern>/Hoofdpagina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NieuwMeldingServlet</servlet-name>
        <url-pattern>/MeldingAanmaken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OptiesServlet</servlet-name>
        <url-pattern>/Opties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GesprekDetailServlet</servlet-name>
        <url-pattern>/Gesprekken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NieuwGesprekServlet</servlet-name>
        <url-pattern>/GesprekAanmaken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificatieDetailServlet</servlet-name>
        <url-pattern>/Melding</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersToev</servlet-name>
        <url-pattern>/PersToev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncToev</servlet-name>
        <url-pattern>/FuncToev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rechten</servlet-name>
        <url-pattern>/Rechten</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchoolToev</servlet-name>
        <url-pattern>/SchoolToev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchoolVerw</servlet-name>
        <url-pattern>/SchoolVerw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncVerw</servlet-name>
        <url-pattern>/FuncVerw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeldingToevoegen</servlet-name>
        <url-pattern>/MeldingToevoegen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GesprekDetail</servlet-name>
        <url-pattern>/GesprekDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
